:root {
  --c-black: #000;
  --c-red: #ff231f;
  --c-buy-grey: #26de81;
  --c-blue: #007bff;
  --c-header: #18214d;
  --c-contrastblack: #171c29;
  --c-cloudyBlack: #2a2e39;
  --c-darkBlack: #1c2030;
  --c-white: #fff;
  --c-dirtywhite: #fefefe;
  --c-cloudyWhite: #fafafa;
  --c-border: #e0e3eb;
  --c-successGreen: #54b489;
  --c-cardBg: #1e222d;

  --c-buttonBuy: #26de81;
  --c-buttonSell: #ff231f;

  --c-footerlinkcolor: #758696;
  --c-textPale: #6c757d;

  --c-palegray: #f5f9fc;
  --c-lightgreen: #ebf4f7;

  --c-textMuted: #18214d59;
  --c-title: #000000d9;

  --c-orange: #e46b16;
  --fade: 150ms;

  --c-inputBorder: #373b46;
}
