.card-component-container {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 14px -6px;
  border-radius: 5px;
  border: none;
  margin-bottom: 15px;
}

.card-component-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
