.vip-level-title {
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
  color: var(--c-contrastblack);
}

.vip-level h4,
p {
  color: var(--c-contrastblack);
}

.vip-level-header {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: rgb(30, 35, 41);
}

.vip-level-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: rgb(112, 122, 138);
}
.vip-level-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: var(--c-contrastblack);
}
