.footer-wrapper{
    padding-top: 70px;
      padding-bottom: 50px;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: row;
  }

  
.footer-wrapper--title{
    padding-bottom: 16px;
 font-size: 1.2rem;
 text-align: start;
}

.footer-wrapper--socialMedia:not(:last-child) {
    margin-right: 7px;
}
.footer-wrapper--socialMedia-icon{
    border-radius: 4px;
    background-color: var(--c-footerlinkcolor);
    padding: 6px;
    fill: #fff;
    &:hover{
        background-color: var(--c-header);
    }
}
.footer-wrapper ul li {
    font-size: 0.9rem;
    &:not(:last-child) {
        padding-bottom: 0.9rem;
    }
}

.footer-wrapper nav{
    display: flex;
}